/* My css styling
	Ugis Germanis
*/
body {
	margin: 0;
	margin-left: 20px;
	font-family: 'Roboto', 'Noto', sans-serif;
	background-color: #eee;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	position: relative;
}

body::after {
	background-color: white;
	content: "";
	opacity: 0.6;
	height: 100%;
	width: 100%;
	display: block;
	z-index: -1;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;   
}

#startDrawer {
	--app-drawer-content-container: {
	box-shadow: 1px 0 2px 1px rgba(0,0,0,0.18);
	}
}
app-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #4285f4;
	color: #fff;
}

app-header paper-icon-button {
    --paper-icon-button-ink-color: white;
}
	
paper-button {
    font-family: 'Roboto', 'Noto', sans-serif;
    font-weight: normal;
    font-size: 14px;
	-webkit-font-smoothing: antialiased;
	background-color: var(--paper-green-500);
	color: white;
	width: 90%;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

paper-button[active] {
    background-color: var(--paper-red-500);
}

footer {
	position: fixed;
	height: 100px;
	left: 0;
	bottom: 0;
	right: 0;
    background-color: #4285f4;
}

#playlist {
	padding-top: 120px;
	padding-bottom: 100px;
}

[playing=true] {
	background-color: red;
}

.song:hover {
	background-color: #ff9090;
}

[playing=true]:hover {
	background-color: red;
}

#slider {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 95%;
}

#controls {
	display: block;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
}
